<%- include('header')-%>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">

        <div class="title pb-5">
            <h2 class="font-weight-bold">Login System</h2>
            <span>Log in For The Existing User</span>
            <a href="http://127.0.0.1:5501/page1.html">Balineni Harsha</a>

            <!-- http://127.0.0.1:5501/web1.html -->

            <% if(locals.logout){%>
                 <div class="alter alert-success text-center">
                    <%=logout%> 
                </div>
                <% } %>
        </div>
 
        <form action="/route/login" method="post" class="pt-3">

            <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail" name="email" required>
                <small class="form-text text-muted text-left">Register email address</small>
             </div>

             <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
             </div>

       <button type="submit" class="btn btn-success rounded-pill3">Submit</button>
    
    </form>
  </div>           
</div>

<%- include('footer')-%>